:host {
  display: grid;
  flex: 1;
}

:host.n-1 {
  grid: 10% 90% / 1fr;
  grid-template-areas: "." "p0";
}

:host.n-2 {
  grid: 50% 50% / 1fr;
  grid-template-areas: "p0" "p1";
}

:host.n-3 {
  grid: 62% 38% / 50% 50%;
  grid-template-areas: "p0 p1" "p2 p2";
}

:host.n-4 {
  grid: 50% 50% / 50% 50%;
  grid-template-areas: "p0 p1" "p2 p3";
}

:host.n-5 {
  grid: 37.5% 37.5% 25% / 50% 50%;
  grid-template-areas: "p0 p1" "p2 p3" "p4 p4";
}

:host.n-6 {
  grid: 33.33% 33.33% 33.33% / 50% 50%;
  grid-template-areas: "p0 p1" "p2 p3" "p4 p5";
}

game-counter.p-0 {
  grid-area: p0;
}

game-counter.p-1 {
  grid-area: p1;
}

game-counter.p-2 {
  grid-area: p2;
}

game-counter.p-3 {
  grid-area: p3;
}

game-counter.p-4 {
  grid-area: p4;
}

game-counter.p-5 {
  grid-area: p5;
}

button.menu-button {
  position: absolute;
  left: calc(50% - 32px);
  width: 48px;
  height: 48px;
  box-sizing: content-box;
  padding: 8px;
  border: none;
  border-radius: 32px;
  background-color: var(--background-color);
  color: inherit;
  z-index: 3;
}

:host.n-1 .menu-button {
  top: calc(10% - 32px);
}

:host.n-2 .menu-button {
  top: calc(50% - 32px);
}

:host.n-3 .menu-button {
  top: calc(62% - 32px);
}

:host.n-4 .menu-button {
  top: calc(50% - 32px);
}

:host.n-5 .menu-button {
  top: calc(75% - 32px);
}

:host.n-6 .menu-button {
  top: calc(66.66% - 32px);
}

.menu-button:focus {
  background-color: #AAAAFF20;
  outline: none;
}

.menu-scrim {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: #00000088;
  backdrop-filter: blur(10px);

  display: grid;
  grid-template: 1fr 1fr 2fr 0.6fr 2fr 0.6fr 1fr 2fr / 2fr 4fr 4fr 2fr;
  grid-template-areas: "back-history title-history title-history ." "back title title ."
    ". share reset ." ". . . ." ". history dice ." ". . . ." ". exit exit ." ". . . .";
  place-items: center;
}

.menu-scrim.share {
  background-color: #000000A0;
}

.back-button {
  grid-area: back;
}

.history .back-button {
  grid-area: back-history;
}

.menu-action {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 12px;
  background-color: transparent;
  color: inherit;
}

.menu-action icon {
  flex: 1;
}

.menu-action label {
  text-transform: uppercase;
  margin: 4px 0 12px;
  user-select: none;
}

.menu-action.share {
  grid-area: share;
}

.menu-action.reset {
  grid-area: reset;
}

.menu-action.history {
  grid-area: history;
}

.menu-action.dice {
  grid-area: dice;
}

.exit-button {
  grid-area: exit;
}

.menu-title {
  grid-area: title;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
  user-select: none;
}

.history .menu-title {
  grid-area: title-history;
}

.share qrcode {
  grid-area: 3/2/6/4;
}

.share-button {
  grid-area: 7/2/8/4;
}

.reset-button {
  grid-area: 3/2/6/4;
  width: 240px;
  height: 240px;
}

.history .content {
  grid-area: 2/1/9/5;
  place-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: auto;
}

.history .history-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0;
}

.history .history-row-player {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.history .history-row-item {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.history .history-contents {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.history .history-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.history .history-contents .history-row-item {
  text-align: center;
  font-size: 20px;
}

.dice-setting {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dice-setting label {
  line-height: 40px;
  width: 80px;
  text-align: center;
  user-select: none;
}

.dice-setting.minimum {
  grid-area: 3/2/4/4;
}

.dice-setting.maximum {
  grid-area: 5/2/6/4;
}

.dice-result-container {
  grid-area: 4/2/5/4;
  position: relative;
  width: 100px;
  height: 28px;
}

@keyframes dice-animation {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.dice-result {
  position: absolute;
  font-size: 28px;
  line-height: 28px;
  width: 100px;
  text-align: center;
  user-select: none;
  opacity: 0;

  animation: dice-animation 100ms alternate;
  animation-iteration-count: 2;
}

.dice-result:last-child {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.dice-roll {
  grid-area: 4/2/5/4;
  opacity: 1;
  pointer-events: all;
  transition: opacity 200ms ease-in-out, pointer-events 200ms step-end;
}

.rolling .dice-roll {
  opacity: 0;
  pointer-events: none;
}

.dice-reset {
  grid-area: 4/3/5/5;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-in-out, pointer-events 200ms step-end;
}

.rolling .dice-reset {
  opacity: 1;
  pointer-events: all;
}
