<game-counter (onChangeCounter)="changeCounter($event.player, $event.counter, $event.amount)"
              (onSetCounters)="setCounters($event.player, $event.counters)"
              *ngFor="let player of players; index as i" [direction]="getOrientation(i)"
              [player]="player"
              class="p-{{i}}">
</game-counter>
<button class="menu-button" (click)="showMenu = true;" matRipple [matRippleCentered]="true">
  <icon icon="carbonate"></icon>
</button>
<div class="menu-scrim" [ngClass]="{show: showMenu}">
  <button mat-icon-button aria-label="close" (click)="showMenu = false;">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button class="menu-action share" (click)="showShare = true;" matRipple>
    <icon icon="share"></icon>
    <label>share</label>
  </button>
  <button class="menu-action reset" (click)="reset(); showMenu = false;" matRipple>
    <icon icon="reset"></icon>
    <label>reset</label>
  </button>
  <button class="menu-action history" (click)="showHistory = true;" matRipple>
    <icon icon="history" style="transform: scale(0.9)"></icon>
    <label>history</label>
  </button>
  <button class="menu-action dice" (click)="showDice = true;" matRipple>
    <icon icon="dice"></icon>
    <label>dice</label>
  </button>
  <a class="exit-button" mat-stroked-button routerLink="/">Exit</a>
</div>
<div [ngClass]="{show: showShare}" class="menu-scrim share">
  <button (click)="showShare = false; showMenu = false;" aria-label="close" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h2 class="menu-title">Share</h2>
  <qrcode [colorDark]="'#ffffffff'"
          [colorLight]="'#00000000'"
          [elementType]="'svg'"
          [errorCorrectionLevel]="'M'"
          [margin]="4"
          [qrdata]="shareUrl"
          [width]="300"></qrcode>
  <button (click)="share()" class="share-button" mat-button>Share</button>
</div>
<div class="menu-scrim history" [ngClass]="{show: showHistory}">
  <button mat-icon-button aria-label="close" (click)="showHistory = false; showMenu = false;">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h2 class="menu-title">History</h2>
</div>
<div [ngClass]="{show: showDice, rolling: diceResult.length}" class="menu-scrim dice">
  <button mat-icon-button aria-label="close" (click)="showDice = false; showMenu = false;">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h2 class="menu-title">Dice</h2>
  <div class="dice-setting minimum">
    <button (click)="diceMin = diceMin - 1;" mat-icon-button>
      <mat-icon>remove</mat-icon>
    </button>
    <label>{{diceMin}}</label>
    <button (click)="diceMin = diceMin + 1;" [disabled]="diceMin >= diceMax" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="dice-result-container">
    <div *ngFor="let value of diceResult; index as i" class="dice-result"
         style="animation-delay: {{i * 100}}ms;">
      {{value}}
    </div>
  </div>
  <button (click)="throwDice()" class="dice-roll" mat-flat-button>
    Roll
  </button>
  <button (click)="diceResult = [];" class="dice-reset" mat-icon-button>
    <icon icon="reset"></icon>
  </button>
  <div class="dice-setting maximum">
    <button (click)="diceMax = diceMax - 1;" [disabled]="diceMin >= diceMax" mat-icon-button>
      <mat-icon>remove</mat-icon>
    </button>
    <label>{{diceMax}}</label>
    <button (click)="diceMax = diceMax + 1;" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
