:host {
  flex: 1;
  display: grid;
  grid: 0.6fr 1.5fr 1fr 30% / 1fr;
  grid-template-areas: "." "section-1" "section-2" "buttons";
  justify-items: center;
  align-items: start;
}

.back-button {
  position: absolute;
  top: 16px;
  left: 16px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.section-1 {
  grid-area: section-1;
}

.section-2 {
  grid-area: section-2;
}

label {
  margin: 10px 0;
  text-transform: uppercase;
  user-select: none;
}

.players {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

.life {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  button {
    font-size: 30px;
  }
}

button {
  position: relative;
  margin: 16px;
  padding: 0;
  width: 64px;
  height: 64px;
  border: 2px solid var(--theme-color);
  border-radius: 8px;
  background-color: transparent;
  transition: color 150ms;
  color: var(--theme-color);
  user-select: none;
}
button.selected {
  color: var(--background-color);
}

button:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  z-index: -1;
  border-radius: 100%;
  background-color: var(--theme-color);
  transition: all 150ms;
}
button.selected:before {
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background-color: var(--theme-color);
  border-radius: 4px;
}

.continue {
  grid-area: buttons;
}
