:host {
  flex: 1;
  display: grid;
  grid: 1fr 30% / 1fr;
  grid-template-areas: "caption" "buttons";
  justify-items: center;
  align-items: center;
}

.share-button {
  position: absolute;
  top: 16px;
  right: 16px;
}

.share-button icon {
  display: block;
  transform: scale(1.5) translateY(1px);
}

.caption {
  grid-area: caption;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.caption icon {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  color: var(--theme-color);
  transition: transform 1s ease-in-out;
  border-radius: 60px;
}

h1 {
  margin: 0;
  letter-spacing: 1px;
}

.buttons {
  grid-area: buttons;
  align-self: start;
  display: flex;
  flex-direction: column;
}

.buttons > * {
  margin-bottom: 12px;
}

.menu-scrim {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  pointer-events: none;
  transition: all 180ms, display step-end 180ms;

  display: grid;
  grid-template: 1fr 1fr 2fr 0.6fr 2fr 0.6fr 1fr 2fr / 2fr 4fr 4fr 2fr;
  grid-template-areas: "back title title ." ". . . ." ". share reset ." ". . . ."
    ". history dice ." ". . . ." ". exit exit ." ". . . .";
  place-items: center;
}

.menu-scrim.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  pointer-events: all;
  background-color: #00000088;
  backdrop-filter: blur(10px);
  transition: all 180ms, display step-start 180ms;
}

.menu-scrim.share {
  background-color: #000000A0;
}

.menu-title {
  grid-area: title;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
}

.share qrcode {
  grid-area: 3/2/6/4;
}

.share label {
  grid-area: 6/2/7/4;
}

.menu-scrim.install {
  top: 50%;
  bottom: unset;
  left: 50%;
  right: unset;
  transform: translate(-50%, -50%);
  padding: 12px;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid var(--primary-color);
}

.menu-scrim.install.show {
  background-color: black;
  backdrop-filter: none;
}

.menu-scrim.install h4 {
  margin: 0;
}

.menu-scrim.install p {
  margin: 4px 0 20px;
  text-align: center;
}

.menu-scrim.install mat-icon {
  vertical-align: middle;
}
