:host {
  position: relative;
}

.additional-counters {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

:host.up .additional-counters {
  flex-direction: column-reverse;
}

:host.left .additional-counters {
  flex-direction: row-reverse;
}

:host.right .additional-counters {
  flex-direction: row;
}

.additional-counters-row {
  display: flex;
  flex-direction: row;
  margin: 10px 20px;
  height: 40px;
  justify-content: space-evenly;
}

:host.up .additional-counters-row {
  flex-direction: row-reverse;
}

:host.left .additional-counters-row {
  margin: 20px 10px;
  height: unset;
  width: 40px;
  flex-direction: column;
}

:host.right .additional-counters-row {
  margin: 20px 10px;
  height: unset;
  width: 40px;
  flex-direction: column-reverse;
}

.additional-counters-row:last-child {
  justify-content: center;
}

:host.up .additional-counters-row button {
  transform: rotate(180deg);
}

:host.left .additional-counters-row button {
  transform: rotate(90deg);
}

:host.right .additional-counters-row button {
  transform: rotate(-90deg);
}

.additional-counters-row button {
  color: inherit;
}

.additional-counters-row button.selected {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.additional-counters-row button.done-button {
  align-self: center;
  margin: 30px;
  background-color: var(--primary-color);
  color: var(--background-color);
  --mat-filled-button-ripple-color: #00000040;
}

.rotatable-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: top, bottom, left, right;
  transition-duration: 100ms;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  background-color: var(--background-color);
  z-index: 2;
}

:host.up .rotatable-container {
  transform: rotate(180deg);
  top: unset;
  bottom: 0;
}
:host.left .rotatable-container {
  flex-direction: column;
  left: unset;
  right: 0;
}
:host.right .rotatable-container {
  flex-direction: column-reverse;
}

.counter {
  flex: 1;
  position: relative;

  display: grid;
  grid: 2fr 6fr 1fr 1fr / 1fr 12fr 1fr;
  grid-template-areas:
    ". . ."
    ". value ."
    ". icon ."
    ". . .";
  justify-items: center;

  border-radius: 20px;
}
:host.left .counter {
  grid: 1fr 12fr 1fr / 1fr 1fr 6fr 2fr;
  grid-template-areas:
    ". . . ."
    ". icon value ."
    ". . . .";
}
:host.right .counter {
  grid: 1fr 12fr 1fr / 2fr 6fr 1fr 1fr;
  grid-template-areas:
    ". . . ."
    ". value icon ."
    ". . . .";
}

.value {
  grid-area: value;
  place-self: stretch;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.value-label {
  overflow: hidden;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, "Arial Narrow", Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  text-align: center;
}

:host.left .value {
  writing-mode: vertical-rl;
}

:host.right .value {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

.delta-value {
  position: relative;
  width: 0;
  height: 0;
  z-index: 1;
  opacity: 0;
}

.delta-value.show {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.delta-label {
  position: absolute;
  left: 10px;
  transform: translateY(-50%);

  color: var(--primary-color);
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 24px;
}

:host.left .delta-label, :host.right .delta-label {
  left: 0;
  top: 10px;
  transform: translateX(-50%);
}

:host.up .delta-label {
  transform: translateY(-50%);
}

.icon {
  grid-area: icon;
  justify-self: center;
  align-self: stretch;
}

:host.left .icon {
  transform: rotate(90deg);
  justify-self: stretch;
  align-self: center;
}

:host.right .icon {
  transform: rotate(270deg);
  justify-self: stretch;
  align-self: center;
}

.increase-button, .decrease-button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.increase-button:focus, .decrease-button:focus {
  background-color: #AAAAFF20;
  outline: none;
}

.increase-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
}

:host.left .increase-button {
  bottom: 0;
  left: 50%;
}
:host.right .increase-button {
  bottom: 0;
  right: 50%;
}

.decrease-button {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
}
:host.left .decrease-button {
  top: 0;
  right: 50%;
}
:host.right .decrease-button {
  top: 0;
  left: 50%;
}

:host.up .increase-button, :host.up .decrease-button {
  transform: rotate(180deg);
}
