<div class="rotatable-container {{player.color}}">
  <div class="counter" *ngFor="let counter of player.counters; index as i">
    <div class="value" fitCounter>
      <span>{{counter.value}}</span>
    </div>
    <icon class="icon" icon="H"></icon>
    <div class="increase-button"
         matRipple
         [matRippleColor]="rippleColor"
         [matRippleCentered]="false"
         (touchstart)="touchStart(counter.icon, 1, $event); $event.preventDefault();"
         (touchmove)="touchMove($event); $event.preventDefault();"
         (touchend)="touchEnd(counter.icon, 1); $event.preventDefault();"></div>
    <div class="decrease-button"
         matRipple
         [matRippleColor]="rippleColor"
         [matRippleCentered]="false"
         (touchstart)="touchStart(counter.icon, -1, $event); $event.preventDefault();"
         (touchmove)="touchMove($event); $event.preventDefault();"
         (touchend)="touchEnd(counter.icon, -1); $event.preventDefault();"></div>
  </div>
</div>
