@use '@angular/material' as mat;
@use './m3-theme';

@include mat.core();

html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;

  @include mat.button-theme(m3-theme.$dark-theme);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  touch-action: none;
  position: relative;

  --theme-color: #90C462;
  --background-color: black;
  --primary-color: #e0e1e2;

  --mdc-filled-button-container-color: var(--theme-color);
  --mdc-filled-button-label-text-color: black;
  --mat-filled-button-ripple-color: #609432C0;
  --mat-icon-button-ripple-color: #FFFFFF40;

  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: Roboto, sans-serif;
}

.page {
  view-transition-name: page-left;
}

@keyframes view-transition-left-out {
  to {
    transform: translateX(-100vw);
  }
}

@keyframes view-transition-left-in {
  from {
    transform: translateX(100vw);
  }
}

@keyframes view-transition-right-out {
  to {
    transform: translateX(100vw);
  }
}

@keyframes view-transition-right-in {
  from {
    transform: translateX(-100vw);
  }
}

::view-transition-new(page-left), ::view-transition-old(page-left),
::view-transition-new(page-right), ::view-transition-old(page-right) {
  animation-duration: 180ms;
  animation-timing-function: ease-in-out;
}

::view-transition-new(page-left) {
  animation-name: view-transition-left-in;
}

::view-transition-old(page-left) {
  animation-name: view-transition-left-out;
}

::view-transition-new(page-right) {
  animation-name: view-transition-right-in;
}

::view-transition-old(page-right) {
  animation-name: view-transition-right-out;
}
